<div class="container">
  <div class="sensei-profile">

    <% if params[:query].nil? || params[:query].empty? %>
      <h1 class="text-center"> Senseis<i class="fas fa-chalkboard-teacher"></i></h1>
    <% else %>
      <h1 class="text-center"> Senseis de <%= params[:query] %> <i class="fas fa-chalkboard-teacher"></i></h1>
    <% end %>
    <div class="row">
      <% if @senseis.length.zero? %>
      <h4 style="color: gray; text-align: center"> Desculpe, não há Senseis disponíveis para "<%= params[:query] %>" <i class="far fa-frown"></i></h4>
      <% end %>
      <% @senseis.each do |sensei| %>
          <%= link_to sensei_path(sensei) do %>
            <div class="col-xs-4 sensei-profile-index">
              <%= cl_image_tag sensei.user.photo , height: 100, width: 100, crop: :fill;%>
              <h4> Sensei <%= sensei.user.username %> </h4>
            </div>
            <% end %>
        <% end %>
    </div>
  </div>
</div>
