<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="chat-header"><h4>#<%= @chat_room.name %></h4></div>
      <div class="messages">
        <% @chat_room.messages.order(created_at: :asc).each do |message| %>
          <%= render "messages/message", message: message, user_is_messages_author:
          message.user == current_user %>
        <% end %>
      </div>
      <div id="create-message">
        <%= simple_form_for [ @chat_room, Message.new ], remote: true do |f| %>
          <%= f.input :content, label: false %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% content_for :after_js do %>
  <script>
    scrollLastMessageIntoView();
    App['chat_room_<%= @chat_room.id %>'] = App.cable.subscriptions.create(
      {
      channel: 'ChatRoomsChannel',
      chat_room_id: <%= @chat_room.id %>
      },
      {
        received: (data) => {
          if (data.current_user_id !== <%= current_user.id %>) {
          var messagesContainer = document.querySelector('.messages');
          messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
          scrollLastMessageIntoView();
        }
        }
      }
    );

  </script>
<% end %>


<!-- OpenTok.js library -->
<script src="https://static.opentok.com/v2/js/opentok.js"></script>
<script>

// credentials
var apiKey = '45828062';
var sessionId = '1_MX40NTgyODA2Mn5-MTU0MjE5MDMyNzc3Nn53SmEwMUNITU9TVlQyN3ltTUpjRzZ5U0l-UH4';
var token = 'T1==cGFydG5lcl9pZD00NTgyODA2MiZzaWc9NWJiYzYwYWY1ZGFjYzNlYWEwZWQ2Nzg2YzM0ZDQ4M2IwZWIwNzQ2YzpzZXNzaW9uX2lkPTFfTVg0ME5UZ3lPREEyTW41LU1UVTBNakU1TURNeU56YzNObjUzU21Fd01VTklUVTlUVmxReU4zbHRUVXBqUnpaNVUwbC1VSDQmY3JlYXRlX3RpbWU9MTU0MjE5MDMzOCZub25jZT0wLjAwNDcxMDgxODc5MTI0OTIzOCZyb2xlPXB1Ymxpc2hlciZleHBpcmVfdGltZT0xNTQyMjc2NzM4';

// connect to session
var session = OT.initSession(apiKey, sessionId);

// create publisher
var publisher = OT.initPublisher();
session.connect(token, function(err) {
   // publish publisher
   session.publish(publisher);
});

// create subscriber
session.on('streamCreated', function(event) {
   session.subscribe(event.stream);
});


</script>
<%= current_user.email %>
<h1>a mt bom dia </h1>
