<div class="container">
  <div class="text-center">
    <h1>User: <%= @user.email %></h1>
    <h2><%= @user.full_name %></h2>
  </div>
  <% if @user.sensei %>
    <%= link_to @user.sensei do %>
    <h2>SENSEI PAGE </h2>
    <% end %>
  <% else %>
  <div class="wrapp">
    <div class="division1 text-left">

      <%= link_to new_sensei_path(@user) do %>
      <%= image_tag "class.png", class: 'card' %>
      <h2>
        Seja um Sensei
      </h2>
      <% end %>

    </div>
  </div>
  <% end %>
</div>
