<% banner = image_path('36568.gif') %>
<div class="banner-about" style="background-image: url('<%=banner %> ');">
  <div class="container">

    <div class="text-center">
      <div class="about">

      <h1>Sobre Nós</h1>


      <p>A Sensei é um website desenvolvido por estudantes da Le Wagon, com intuito de disponibilizar as melhores aulas do mercado</p>
      <% bg_image = image_path('LeWagon-19.png') %>
      <div class="background-about" style="background-image: linear-gradient(-0deg, rgba(0, 0, 0,0.3) 0%, rgba(0, 0, 0,0.000000) 0%), url('<%= bg_image  %>');">


      </div>
      <h1 id= "titulo">A Equipe</h1>
      <br>
      <div class="flex">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <%= image_tag "henrique-meio.png", class: 'card' %>
            </div>
            <div class="flip-card-back">
              <h1>Henrique</h1>
              <p>Full stack developer</p>
              <p> <a href="https://thierrymr.github.io/profile/" target="_blank">Clique Profile</a></p>
              <p><a href="https://www.facebook.com/thierry.martins.58?ref=bookmarks" target="_blank"><i <%= icon("fa","facebook") %>></i></a>
               <a href="https://www.linkedin.com/in/thierry-martins-ribeiro-silvagnoli-444068120/" target="_blank"><i <%= icon("fa","linkedin") %>></i></a>
               <a href="https://github.com/ThierryMR" target="_blank"><%= icon("fa","github") %></a></p>
             </div>
           </div>
         </div>

         <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <%= image_tag "LeWagon-36-5.png", class: 'card' %>

            </div>
            <div class="flip-card-back">
              <h1>Thierry</h1>
              <p>Full stack developer</p>
              <p> <a href="https://thierrymr.github.io/profile/" target="_blank">Clique Profile</a></p>
              <p><a href="https://www.facebook.com/thierry.martins.58?ref=bookmarks" target="_blank"><i <%= icon("fa","facebook") %>></i></a>
               <a href="https://www.linkedin.com/in/thierry-martins-ribeiro-silvagnoli-444068120/" target="_blank"><i <%= icon("fa","linkedin") %>></i></a>
               <a href="https://github.com/ThierryMR" target="_blank"><%= icon("fa","github") %></a></p>
             </div>
           </div>
         </div>

         <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <%= image_tag "LeWagon-18.png", class: 'card' %>

            </div>
            <div class="flip-card-back">
              <h1>Davis</h1>
              <p>Full stack developer</p>
              <p> <a href="https://thierrymr.github.io/profile/" target="_blank">Clique Profile</a></p>
              <p><a href="https://www.facebook.com/thierry.martins.58?ref=bookmarks" target="_blank"><i <%= icon("fa","facebook") %>></i></a>
               <a href="https://www.linkedin.com/in/thierry-martins-ribeiro-silvagnoli-444068120/" target="_blank"><i <%= icon("fa","linkedin") %>></i></a>
               <a href="https://github.com/ThierryMR" target="_blank"><%= icon("fa","github") %></a></p>
             </div>
           </div>
         </div>

         <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <%= image_tag "LeWagon-36-3.png", class: 'card' %>

            </div>
            <div class="flip-card-back">
              <h1>Thiago</h1>
              <p>Full stack developer</p>
              <p> <a href="https://thierrymr.github.io/profile/" target="_blank">Clique Profile</a></p>
              <p><a href="https://www.facebook.com/thierry.martins.58?ref=bookmarks" target="_blank"><i <%= icon("fa","facebook") %>></i></a>
               <a href="https://www.linkedin.com/in/thierry-martins-ribeiro-silvagnoli-444068120/" target="_blank"><i <%= icon("fa","linkedin") %>></i></a>
               <a href="https://github.com/ThierryMR" target="_blank"><%= icon("fa","github") %></a></p>
            </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
