<div class="banner" style="background-image:linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/1438081/pexels-photo-1438081.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
  <div class="banner-content">
    <h1 style="color: white" id="sensei-title">Sensei</h1>
    <h4 style="color: white">Aulas instantâneas quando você quiser</h4>
    <%= form_tag senseis_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Procurar Sensei"
      %>
    <% end %>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
  <div class="col-xs-5">
    <h2 style="margin-top: 35px;">Aulas online em um click</h2>
    <ul class="home-list">
      <li>Professores qualificados de primeira</li>
      <li>Tire suas dúvidas de maneira prática</li>
      <li>Ache o Sensei perfeito para você</li>
      <li>Pague com segurança e sem se preocupar</li>
      <li>Aulas e arquivos salvos automaticamente</li>
      <li>Sem instalações ou downloads</li>
    </ul>
    <div class="btn" style="margin-left: 20px">
      <%= link_to "Conheça", senseis_path, class: 'btn btn-primary btn-lg' %>
    </div>
   </div>
   <div class="col-xs-7 ">
     <%= image_tag url="https://professtatic.s3-sa-east-1.amazonaws.com/img/mockup_sala.png", class: "computer-pic" %>
   </div>
 </div>
  </div>
<br>
<div class="container">
<h1 class="text-center">Aulas mais procuradas</h1>
<div class="row">
  <div class="col-xs-4">
    <div class="subject-card" id="math">Matemática</div>
  </div>
  <div class="col-xs-4">
    <div class="subject-card" id="port">Português</div>
  </div>
  <div class="col-xs-4">
    <div class="subject-card" id="quim">Química</div>
  </div>
</div>
</div>
<div class="container text-center padded features">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= image_tag "sensei.png", class: 'card' %>
      <h2>Seja um Sensei</h2>
      <p>Dê aulas do assunto que domina.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= image_tag "contents.png", class: "card"  %>
      <h2>Escolha o Assunto</h2>
      <p>Tire suas dúvidas de maneira rápida.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= image_tag "class.png", class: "card"  %>
      <h2>Modo Urgência</h2>
      <p>Chegar de madrugar. Tenha uma aula que garanta sua nota.</p>
    </div>
  </div>
</div>

<br></br>
<div class="text-center padded" id="newsletter">
  <h2>Recebe nossas novidades!</h2>
  <p>Deixe seu e-mail para não perder nossas notícias</p>
  <form class="form-inline">
    <input type="email" placeholder="davis@sensei.com.br" class="form-control">
    <input type="submit" value="Inscrever" class="btn btn-primary btn-bordered btn-bordered-primary">
  </form>
</div>
<br></br>
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <p>Sensei TM</p>
      </div>
    </div>
  </div>
</div>
